{% extends 'base.html.twig' %}

{% block title %}Admin - Créer un Consultant{% endblock %}

{% block body %}

<div>
    <h1>Créer un Consultant</h1>
    {{ form_start(createConsultantForm) }}
    {{ form_row(createConsultantForm.email) }}
    {{ form_row(createConsultantForm.plainPassword) }}
    {{ form_row(createConsultantForm.submit) }}
    {{ form_end(createConsultantForm) }}
</div>
{% endblock %}
