<table class="table table-hover my-3">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>CV</th>
            <th>Intitulé de l'offre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {%  for jobApplication in jobApplications %}
        <tr>
            <td>{{ jobApplication.candidate.firstName }}</td>
            <td>{{ jobApplication.candidate.lastName }}</td>
            {% if jobApplication.candidate.cvPath  %}
                <td><a target="_blank" href="{{ asset('uploads/CV/' ~ jobApplication.candidate.cvPath) }}">Voir CV</a></td>
            {% else %}
                <td><em>Aucun CV</em></td>
            {% endif %}
            <td>{{ jobApplication.jobOffer.title }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('app_consultant_approve_job_application', { 'id' : jobApplication.id }) }}">Approuver</a>
                <a class="btn btn-danger" href="{{ path('app_consultant_disapprove_job_application', { 'id' : jobApplication.id }) }}">Refuser</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Aucune offre à approuver</td>
        </tr>
        {% endfor %}
    </tbody>
</table>