{% extends 'base.html.twig' %}

{% block title %}Recruteur Dashboard{% endblock %}

{% block body %}
<div>
    <h1>Mes annonces</h1>
    <button><a href="{{ path('app_recruiter_post_job_offer') }}">Publier une nouvelle offre</a></button>
    {% for jobOffer in myJobOffers %}
        <div>
            {{ jobOffer.title }}
            {{ jobOffer.location }}
            {{ jobOffer.description }}
            {{ jobOffer.isApproved ? "Publiée" : "En cours d'approbation"}}
            <button><a href="{{ path('app_recruiter_delete_job_offer', { 'id' : jobOffer.id }) }}">Supprimer</a></button>
        </div>
    {% endfor %}
</div>
{% endblock %}
