{% extends 'base.html.twig' %}

{% block title %}Candidat - Modifier mon profil{% endblock %}

{% block body %}

<div>
    <h1>Modifier mon profil Candidat</h1>
    <div>
        {{ form_start(editCandidateProfileForm) }}
        {{ form_row(editCandidateProfileForm.firstName) }}
        {{ form_row(editCandidateProfileForm.lastName) }}
        {{ form_row(editCandidateProfileForm.cvPath) }}
        {{ form_row(editCandidateProfileForm.submit) }}
        {{ form_end(editCandidateProfileForm) }}
    </div>
</div>
{% endblock %}
